
:root {
  --card-font-size: 240px;
}

.app-card {
  display: inline-block;
  aspect-ratio: 144 / 240;
  width: calc(var(--card-font-size) * (9 / 15));
}

.app-card p {
  height: var(--card-font-size) * (9 / 15);
}

.app-card .card {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: default;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: var(--card-font-size);
  margin: 0px;
  padding: 0px;
}

.app-card .card-background {
  aspect-ratio: 164 / 220;
  height: calc(var(--card-font-size) * (12.1 / 15));
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}

.app-card .card-background::before {
  display: block;
  aspect-ratio: 164 / 220;
  content: "";
  height: calc(var(--card-font-size) * (12.1 / 15));
}

.app-card .card-background .card {
  position: absolute;
  bottom: -11%;
  left: -8%;
}

.app-card .black:hover {
  color: #0025cc
}

.app-card .red:hover {
  color: #cc0000
}
