
:root{
  --h1-position: 100%;
  --animation-position: calc(var(--h1-position) + 150%);
  --figure-8-top: translateY(calc(var(--animation-position) - 75%));
  --figure-8-middle: translateY(calc(var(--animation-position)));
  --figure-8-bottom: translateY(calc(var(--animation-position) + 75%));
}

#lose-screen {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  z-index: 10;
}

#lose-screen:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(255, 136, 136);
  cursor: default;
}

#lose-screen::before {
  background-color: rgba(0, 0, 0, 0.9);
  content: "";
  aspect-ratio: 3 / 1;
}

#lose-screen h1 {
  font-size: 4rem;
  margin: auto;
  position: relative;
  bottom: calc(var(--h1-position) * -1);
}

#lose-screen p {
  position: relative;
  top: 70%;
}

.spinning {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.8, 0.2, 0.2, 0.8);
}

.figure-8-x{
  animation-name: figure-8-x;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.figure-8-y{
  animation-name: figure-8-y;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    color: #0025cc;
    transform:rotate(0deg);
  }
  25% {
    color: #cf6ecf;
  }
  50%{
    color: #cc0000;
    transform:rotate(360deg);
  }
  75%{
    color: #cf6ecf;
  }
  to {
    color: #0025cc;
    transform:rotate(720deg);
  }
}

@keyframes figure-8-x {
  from{
    transform: translateX(0%);
  }
  25%{
    transform: translateX(20%);
  }
  50%{
    transform: translateX(0%);
  }
  75%{
    transform: translateX(-20%);
  }
  to{
    transform: translateX(0%);
  }
}

@keyframes figure-8-y {
  from{
    transform: var(--figure-8-middle);
  }
  12.5% {
    transform: var(--figure-8-top);
  }
  25.0% {
    transform: var(--figure-8-middle);
  }
  37.5% {
    transform: var(--figure-8-bottom);
  }
  50.0% {
    transform: var(--figure-8-middle);
  }
  62.5% {
    transform: var(--figure-8-top);
  }
  75% {
    transform: var(--figure-8-middle);
  }
  87.5% {
    transform: var(--figure-8-bottom);
  }
  to{
    transform: var(--figure-8-middle);
  }
}

@media screen and (min-width: 600px) and (max-width: 1099px) {
  #lose-screen h1 {
    font-size: 6rem;
  }
}

@media screen and (min-width: 1100px) {
  #lose-screen h1 {
    font-size: 10rem;
  }

  @keyframes figure-8-x {
    from{
      transform: translateX(0%);
    }
    25%{
      transform: translateX(30%);
    }
    50%{
      transform: translateX(0%);
    }
    75%{
      transform: translateX(-30%);
    }
    to{
      transform: translateX(0%);
    }
  }
}