* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
}

.App {
  text-align: center;
}

/* These link colors show up better with dark background */
a{ color: rgb(97, 175, 239); }
a:link{ color: rgb(97, 175, 239); }
a:visited{ color: rgb(230, 180, 180); }

body {
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}

